
.filter {
    width: 200px;
}

.filter-wrapper {
    margin-top:20px;
    padding: 5px 15px;
    border: 1px solid #d9d9d9;
}

.filter-info-wrapper {
    display: flex;
    justify-content: space-between;
}

.price-left {
    padding-right: 5px;
}

.price-right {
    padding-left: 5px;
}