@import-normalize;

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.app-container {
  width: 1060px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 20px;
}

.app-logo-wrapper {
  width: 191px;
  height: 59px;
  margin: 0 auto;
}

.app-components-flex-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.studio-list-settings-components-wrapper {
  width: 240px;
}
