@keyframes lds-magnify {
  0% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  33.33% {
    -webkit-transform: translate(102px, 2px);
    transform: translate(102px, 2px);
  }
  66.66% {
    -webkit-transform: translate(42px, 102px);
    transform: translate(42px, 102px);
  }
  100% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
}
@-webkit-keyframes lds-magnify {
  0% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  33.33% {
    -webkit-transform: translate(102px, 2px);
    transform: translate(102px, 2px);
  }
  66.66% {
    -webkit-transform: translate(42px, 102px);
    transform: translate(42px, 102px);
  }
  100% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
}
.lds-magnify {
  position: relative;
}
.lds-magnify > div {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transform-origin: 100px 100px;
  transform-origin: 100px 100px;
}
.lds-magnify > div > div {
  -webkit-animation: lds-magnify 1.5s linear infinite;
  animation: lds-magnify 1.5s linear infinite;
  position: absolute;
}
.lds-magnify > div > div div:nth-child(1) {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 12px solid #2196F3;
  background: #ffffff;
}
.lds-magnify > div > div div:nth-child(2) {
  width: 17px;
  height: 51px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: rgb(15, 142, 246);
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: 95px;
  left: 100px;
}
.lds-magnify {
  width: 100px !important;
  height: 100px !important;
  margin: 0 auto;
  -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
  transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}
.lds-css.wrapper {
  padding: 20px 20px;
  padding-top:26px;
  margin-bottom:20px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
}