.price {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 0 5px;
  color: #ffffff;
  background-color: #1e90ff;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tagListItem {
  margin-right: 5px;
  color: #69c0ff;
}

.tagsInfo {
  margin-right: 5px;
}

.tagListItem:last-child .tagListComma {
  display: none;
}
